.con_right{
    min-width: 800px;
    float: left;
    height: 600px;
    width: 800px;
    margin-left: 30px;
}

.body_left {
    width: 800px;
    height: 500px;
    min-width: 800px;
    float: left;

}


table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 16px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 15px;




}

table.gridtable th {

    background-color: #e09775;
    width: au;
    padding: 8px;
    border-style: none;

}

table.gridtable th:last-child {

    border-right: none
}

table.gridtable tr {
    background-color: #d4e3e5;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    text-align: center;


}


.body_left>.page {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.body_left>.page>ul {
    text-decoration: none;
}

.page>ul>li {
    text-decoration: none;
    height: 32px;
    display: inline-block;
    padding: 0px 4px;
}

.page_ul>li>a {
    display: inline-block;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;

    color: #333;
    border: 1px solid #333333;
    cursor: pointer;
}

.page_ul>li>a:hover {

    background-color: #ffaa7f;
}

.ffa{
    background-color: #ffaa7f;
}
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #2b2b2b;
}

.participate{
    outline: none;
    width: 80px;
    background-color: #1b9cd7;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: white;
    font-family: "microsoft yahei";
}
.participate:hover{
    background-color: #5dd7d7;
}

.body_left>.items{

    height: 40px;

}
.items>ul{
    background-color: #C4C4C4;
    font-size: 0;


}
.items{
    width: 790px;
}

.items>ul>li{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    width: 92px;
}

.fa{
    background: #ffaa00;;
}

.top{
    margin-top: 20px;
}

.select1 {
    background: rgba(0,0,0,0.2);/*背景色和透明度，可以设置为url地址的图片*/
    width: 190px;/*宽度*/
    height: 35px;/*高度*/
    margin-left: 40px;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.select1 select {
    background: transparent; /*透明*/
    border: none;
    width: 190px; /*比上面设置的略宽*/
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    font-family: "微软雅黑";
}